:root {
    --main-bg: #000000;
    --primary: #FCFCFC;
    --secondary: #9CA0B5;
    --accent: #0DB3B9;
    --accent-dark: #01172F; //oxford blue (low contrast)
    --accent-striking: #FC6471; //fiery rose
}

#contact-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #text-container {
        h4 {
            font-weight: 500;
            font-size: 3rem;
        }
        #social-media {
            .media-icon{
                height: auto;
                margin-right: 1rem;
                color: var(--primary);
            }
            .media-icon:hover {
                opacity: 0.5;
            }
        }
    }
}