#home-container {
    display: flex;
    min-height: 100vh;
    width: auto;
    align-items: center;
    justify-content: left;
    background-image: url("../../assets/images/china-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    

    #text-container {
        h1 {
            font-size: 10rem;
        }
        .type-animation {
            font-size: 4rem;
        }
        margin: 8rem;
        z-index: 10;
    }

    #titleImage {
        width: 70rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    #titleImage2 {
        width: 65rem;
        margin-top: 6rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    #mobileLogo {
        visibility: collapse;
    }
}

//Smaller Screens
@media only screen and (max-width: 1367px) { //TODO: Adjust for mobile responsiveness
    #home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #text-container {
            h1 {
                font-size: 7rem;
            }
            .type-animation {
                font-size: 3rem;
            }
            margin: 0;
            padding: 0;
        }

        #titleImage, #titleImage2 {
            display: none;
        }
        
        #mobileLogo {
            visibility: visible;
            width: 70%;
        }
    }
}

//fixing spacing on edge case
@media only screen and (min-width:1019px) and (max-width:1366px) {
    #home-container {
        #text-container {
            margin-top: 8rem;
        }
    }
}

//Phones
@media only screen and (max-width: 468px) {
    #home-container {
        #text-container {
            margin-top: 4rem;
            h1 {
                font-size: 5rem;
            }
            .type-animation {
                font-size: 2rem;
            }
        }
    }
}