@font-face {
    font-family: 'gong-xi';
    src: local('gong-xi'), url(./assets/fonts/gong-xi-regular.otf) format('opentype');
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
    --main-bg: #000000;
    --primary: #FCFCFC;
    --secondary: #9CA0B5;
    --accent: #0DB3B9;
    --accent-dark: #01172F; //oxford blue (low contrast)
    --accent-striking: #FC6471; //fiery rose
}

html {
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg);
    background-image: url("./assets/images/china-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'gong-xi';
    font-size: 8rem;
    color: var(--accent);
}